<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>FundrBot Landing Page</h1>
    <p>
      This person kicks ass -- Say what's up!
    </p>
    <p>
      <%= @contact.name %><br/>
      <%= @contact.email %><br/>
    </p>
    <p>
      The guest said:
    </p>
    <p>
      "<%= @contact.message %>"
    </p>
  </body>
</html>