




<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
<section class="hero" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right navicon"> <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a> </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center inner">
        <div class="animatedParent"> <!--<img src="img/intro-logo.png" class="animated fadeInDown">--> </div>
        <img src="img/intro-logo.png" class="shake  shake-constant">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center"> <a href="#about" class="animatedParent btn-scroll"><img src="img/intro-arrow.png" class="animated fadeInUp"></a> </div>
    </div>
  </div>
</section>

<!-- Navigation -->
<div id="navigation">
  <nav class="navbar navbar-custom" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <div class="site-logo">
          <a href="index.html" class="brand-2" style="margin:-15px 0; float:left;"><img src="img/logo.png"></a> 
           <a href="index.html" class="brand"><img src="img/mobile-logo.png"></a> 
           
           
           </div>
        </div>
        <div class="col-xs-9 pull-right"> 
          
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu"> <i class="fa fa-bars"></i> </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#intro">Home</a></li>
              <li><a href="#about">About Us</a></li>
              <li><a href="#features">Featuers</a></li>
              <li><a href="#why">Why</a></li>
              <li><a href="#pricing">Pricing</a></li>
              <li><a href="#contact">Sign Up</a></li>
            </ul>
          </div>
          <!-- /.Navbar-collapse --> 
          
        </div>
      </div>
    </div>
    <!-- /.container --> 
  </nav>
</div>
<!-- /Navigation --> 

<!-- Section: about -->
<section id="about" class="home-section pad-250 color-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="animatedParent">
          <div class="section-heading animated bounceInDown">
            <div class="clearfix"></div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
    <div class="animatedParent">
    <div class="col-sm-6"><img src="img/funding.png" class="animated rotateIn"></div>
      <div class="col-sm-6 ">
      <div class="gap-top-100">&nbsp;</div>
      <h2 class="h-bold pull-left pad-40 with-bg shake shake-constant"> Hello World, I'm FundrBot</h2>
            <img src="img/mascot.png" class="v-l-top shake shake-constant">
            <div class="clearfix"></div>
            
        <p> Every morning I scan the web for funding data to synchronize with your
          Salesforce and alert you if I find anything.If I find a new company that isn't
          in your Salesforce I'll let send you a note to get a rep to follow up and see if 
          there's an opportunity to develop.</p>
        <p> Add me to your Salesforce and start automating your funding alerts today! </p>
      </div>
      </div>
    </div>
  </div>
</section>
<!-- /Section: about --> 

<!-- Section: services -->
<section id="features" class="home-section color-dark">
  <div class="container marginbot-50">
    <div class="row animatedParent">
      <div class="section-heading text-center">
        <h6 class="animated fadeInDown">FUNDRBOT SCANS THE WEB FOR NEW PIPELINE</h6>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="container">
      <div class="row animatedParent">
        <div class="col-xs-12 col-sm-4 col-sm-offset-2  animated fadeInLeft"> <a class="btn btn-block btn-skin" href="#">Watch Video</a> </div>
        <div class="col-xs-12 col-sm-4  animated fadeInRight"> <a class="btn btn-block btn-skin" href="#">ADD SALESFORCE</a> <br>
          <br>
          <br>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
          <div class="animated rotateInDownLeft go">
            <div class="service-box">
              <div class="service-icon"> <span class="fa  fa-bell fa-4x"></span> </div>
              <div class="service-desc">
                <p class="h6">AUTOMATE FUNDING ALERTS </p>
                <div class="col-xs-2"><span class="fa   fa-angle-left fa-5x"></span></div>
                <div class="col-xs-10">
                  <p>Funding details sync to your Salesforce accounts and notify the right sales rep </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--11111-->
        <div class="col-md-4">
          <div class="animated rotateInDownLeft slower go">
            <div class="service-box">
              <div class="service-icon"> <span class="fa fa-line-chart fa-4x"></span> </div>
              <div class="service-desc">
                <p class="h6">BUILD MORE PIPELINE </p>
                <div class="col-xs-2"><span class="fa fa-angle-left fa-5x"></span></div>
                <div class="col-xs-10">
                  <p>Identify new accounts with funding that aren't in your Salesforce</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--2222-->
        <div class="col-md-4">
          <div class="animated rotateInDownLeft slowest go">
            <div class="service-box">
              <div class="service-icon"> <span class="fa  fa-dollar fa-4x"></span> </div>
              <div class="service-desc">
                <p class="h6">CLOSE MORE DEALS </p>
                <div class="col-xs-2"><span class="fa   fa-angle-left fa-5x"></span></div>
                <div class="col-xs-10">
                  <p>Timing is everything.Reach out to accounts that havemoney to spend.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--3333--> 
        
      </div>
    </div>
  </div>
</section>
<!-- /Section: services --> 

<!-- Section: works -->
<section id="why" class="home-section color-dark text-center">
  <div class="container marginbot-50"> </div>
  <div class="container">
    <div class="row animatedParent">
      <div class="col-sm-6 text-left gr-pic">
      
   <!-- <img src="img/f-1.png" class="animated fadeInUp slowest" >-->
    
       <img src="img/f-1.png" class="animated fadeInUp slow-5" >
       <img src="img/f-2.png" class="animated fadeInUp slow-4 " >
       <img src="img/f-3.png" class="animated fadeInUp slow-3" >
       <img src="img/f-4.png" class="animated fadeInUp slow-2" >
       <img src="img/f-5.png" class="animated fadeInUp slow-1" >
    
    
    
    
    </div>
        
        <div class="gap-top-100">&nbsp;</div>
      <div class="col-sm-5 col-sm-offset-1 text-left "  >
      
      
<ul class="disc"><li>With the amount of funding growing each year the way sales people prospect is changing.</li>
        
        <div class="gap-top-100">&nbsp;</div>
        
        <li>Track and Record each funding event on the Account Level for future reference and account planning.
      </li></ul>
     
     
     
     
      </div>
    </div>
  </div>
</section>
<!-- /Section: works --> 

<!-- Section: pricing -->
<section id="pricing" class="home-section color-dark text-center">
  <div class="container marginbot-50">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="animatedParent">
          <div class="section-heading text-center">
            <h2 class="h-bold animated bounceInDown" style="border-bottom:none;">PRICING</h2>
            <div class="divider-header"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="container">
      <div class="row animatedParent">
        <div class="col-sm-4">
          <div class="animated rotateInDownLeft go">
            <div class="service-box wh">
              <div class="service-desc font-26"> Individual<br>
                1 User<br>
                <span class="font-58">$5/m</span> </div>
            </div>
          </div>
        </div>
        <!--11111-->
        
        <div class="col-sm-4">
          <div class="animated rotateInDownLeft slow go">
            <div class="service-box wh">
              <div class="service-desc font-26"> Team<br>
                5 User<br>
                <span class="font-58">$20/m</span> </div>
            </div>
          </div>
        </div>
        <!--22222-->
        
        <div class="col-sm-4">
          <div class="animated rotateInDownLeft slower go">
            <div class="service-box wh">
              <div class="service-desc font-26"> Professional<br>
                <br>
                Contact Us<br>
              </div>
            </div>
          </div>
        </div>
        <!--33333--> 
        
      </div>
      <h6><br>
        <br>
        FundrBot plans are billed monthly with annual commitments </h6>
    </div>
  </div>
</section>
<!-- /Section: pricing --> 

<!-- Section: contact -->
<section id="contact" class="home-section nopadd-bot color-dark text-center">
  <div class="container marginbot-50">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="animatedParent">
          <div class="section-heading text-center">
            <div class="col-md-6"> <a href="#" class="btn btn-block btn-skin">Sign Up Today</a> </div>
            <div class="col-md-6"> <a href="#" class="btn btn-block btn-skin">Add FundrBot to Salesforce</a> <br>
              <br>
              <br>
            </div>
            <div class="clearfix"></div>
            <h2 class="h-bold animated bounceInDown" style="border-bottom:none;">Get in touch with us</h2>
            <div class="divider-header"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row marginbot-80">
      <div class="col-sm-5 col-sm-offset-1">
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
        <form id="contact-form" action="" method="post" role="form" class="contactForm">
          <div class="animatedParent">
          <div class="row marginbot-20">
            <div class="col-md-6 xs-marginbot-20">
              <div class="form-group">
                <input type="text" name="name" class="form-control animated fadeInDown" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control animated fadeInDown" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control animated fadeInLeft"  name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control animated fadeInRight" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <button type="submit" class="btn btn-skin btn-lg btn-block animated fadeInUp slower go" id="btnContactUs"> Send Message</button>
            </div>
          </div>
          </div>
        </form>
      </div>
      
      
      <div class="col-sm-5 col-sm-offset-1 contact-area text-left">
      
      
   
<p>Feel free to drop us
a line or send your brief.</p>
<p><i class="fa  fa-envelope "></i>&nbsp;&nbsp;info@Fundrbo.com</p>
<p><i class="fa  fa-phone "></i>&nbsp;&nbsp;+1 1234.456.789</p>
<p><i class="fa  fa-map-marker "></i>&nbsp;&nbsp;New Jersey New york</p>
<h5>Find  us</h5>
<a href="#" target="_blank" title="Facebook"><i class="fa fa-2x fa-facebook-square"></i></a>&nbsp;&nbsp;
<a href="#" target="_blank" title="Twitter"><i class="fa fa-2x fa-twitter-square"></i></a>&nbsp;&nbsp;
<a href="#" target="_blank" title="Google Plus"><i class="fa fa-2x fa-google-plus-square"></i></a>


      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      </div>
      
      
      
      
    </div>
  </div>
</section>
<!-- /Section: contact -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6"> </div>
      <div class="col-md-6 text-right copyright"> &copy; 2017&nbsp;&nbsp;|&nbsp;&nbsp;All Rights Reserved </div>
    </div>
  </div>
</footer>


</body>
</html>
