<h1 id="page_title">Say Hello</h1>

<div class="skinny_wrapper wrapper_padding">
	<h1>Thank you for joining our list!</h1>
	<p> We will let you know when FundrBot is ready to alert you on your accounts soon.</p>
</div>
