<h1 id="page_title">Say Hello</h1>

<div class="skinny_wrapper wrapper_padding">
	<%= form_for @contact do |f| %>
	<% end %>
	<label>Name</label><br>
	<input type="text">

	<br>

	<label>Email</label>label><br>
	<input type="text">

	<br>

	<label>Message</label>label><br>
	<textarea></textarea>

	<br>

	<input type="submit" value="Send Message" class="button">
</div>